@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-x {
  max-width: 1216px!important;
}

.animate-bounce-right{
animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


.ila {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../../public/assets/game-category/section-category-1.jpg");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.controlGame {
 background: url("../../public/assets/game-category/gameControl.jpg") center center no-repeat;
}
.controlGames {
 background:  center center no-repeat;
}

.countDown-background {
  background: url("../../public/assets/countDown-sale/campaign-cover-countdown.jpg") 0% 56% / cover no-repeat;
}
.download-app-background {
  background: url("../../public/assets/countDown-sale/download-app-cover.png") 0% 0% / cover no-repeat;
}

.discount-banner {
  background: url("../components/discount-banner/discount-banner-1.jpg") 0% 0% / cover no-repeat;
}


.product-color-ring{
  --tw-ring-color:#FFBC63;
}


.product-size-open{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68,68,68,.11);
  box-sizing: border-box;
  left: 0;
  margin-top: 4px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  -webkit-transform: scale(.75) translateY(-21px);
  transform: scale(.75) translateY(-21px);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
}


.product-size-close{
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  visibility: visible;
}